@font-face {
    font-family: "Bebas";
    src: url(assets/fonts/Bebas.ttf) format("truetype");
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: linear-gradient(#2b1055, #7597de);
    margin: 0;
}


/* HEADER */

header {
    font-family: "Bebas.ttf";
    background-color: #ffd7d0;
    height: 20vh;
    z-index: 10000;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    text-transform: uppercase;
}

header ul li a:hover,
header ul li a.active {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}