@font-face {
  font-family: "Bebas";
  src: url("/projet_en_cours/site_perso2/assets/fonts/Bebas.ttf")
    format("truetype");
}

* {
  margin: 0;
}

body {
  -webkit-padding-start: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

/*________________________________________________________________HEADER________________________________________________________________*/

header {
  height: 100px;
  background: #ffffff;
  width: 100%;
}

nav a {
  text-decoration: none;
}

.wrapper {
  font-family: "Bebas", serif;
  text-transform: uppercase;
  line-height: 100px;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0px 100px 0px;
  color: black;
}

.logo,
.cv {
  width: 10%;
  float: left;
  font-size: 30px;
  color: rgb(221, 0, 0);
  letter-spacing: 5px;
}

.cv {
  float: right;
}

nav .categorie {
  margin: 0px 30px 0px;
}

/*________________________________________________________________________________________________________________________________*/
