@font-face {
  font-family: "Bebas";
  src: url(assets/fonts/Bebas.ttf) format("truetype");
}

body {
  height: 100vh;
  margin: 0;
}

/* HOMEPAGE */

.scene {
  position: relative;
  overflow: hidden;
  height: 140vh;
  width: 100%;
  background-attachment: fixed;
  background: #080d2e;
}

.night {
  margin: 30% 40% 0;
  position: absolute;
  width: 300px;
  height: 300px;
  background: #f5deb3;
  border-radius: 50%;
  z-index: 400;
}

.night::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -60px;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: #080d2e;
}

.forest {
  position: absolute;
  top: 500px;
  margin: 0;
  width: 100%;
  z-index: 10000;
}

/* CLOUD */
.cloud0 {
  position: absolute;
  top: 50px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -10s;
}
.cloud1 {
  position: absolute;
  top: 200px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -15s;
}
.cloud2 {
  position: absolute;
  top: 325px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -20s;
}
.cloud3 {
  position: absolute;
  top: 175px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -25s;
}
.cloud4 {
  position: absolute;
  top: 75px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -30s;
}
.cloud5 {
  position: absolute;
  top: 350px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -35s;
}
.cloud6 {
  position: absolute;
  top: 100px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -40s;
}
.cloud7 {
  position: absolute;
  top: 300px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -45s;
}
.cloud8 {
  position: absolute;
  top: 450px;
  z-index: 10000;
  animation: cloudAnimation 30s linear infinite;
  animation-delay: -50s;
}
.cloud9 {
  position: absolute;
  top: 175px;
  z-index: 10000;
  animation: cloudAnimation 60s linear infinite;
  animation-delay: -55s;
}
/* ANIMATE CLOUD */
@keyframes cloudAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(300%);
  }
}

/* STARS */
.scene i {
  justify-items: center;
  align-items: center;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  animation: animate_stars 1s linear infinite;
  z-index: 500;
}

@keyframes animate_stars {
  0% {
    opacity: 0;
    transform: translate(0px, 0px);
  }

  50% {
    opacity: 1;
    transform: translate(250px, 250px);
  }

  100% {
    opacity: 0;
    transform: translate(500px, 500px);
  }
}

/* HEADER */

header {
  font-family: "Bebas.ttf";

  z-index: 10000;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  text-transform: uppercase;
}

header ul li a:hover,
header ul li a.active {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

/* ARTICLE 1 */

.all_story,
h1 {
  background: black;
  color: #fff;
  margin: 0;
}
