@font-face {
    font-family: "Rowdies";
    src: url("fonts/Rowdies.ttf") format("truetype");
}

@font-face {
    font-family: "DancingScript";
    src: url(fonts/DancingScript.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #75a9c7;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #fff;
    font-family: "Rowdies";
}

header .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.6em;
    text-decoration: none;
    color: #caf0f8
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #caf0f8;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5em;
}

header ul li a:hover,
header ul li a.active {
    background-color: #caf0f8;
    color: #fff;
}


/* MAIN */

.main {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main video,
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.main video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main img {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
}

.travel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main p {
    flex-grow: 1;
    font-size: 10em;
    font-weight: 700;
    font-family: "DancingScript";
    color: #fff;
    z-index: 1;
}

.main a {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-decoration: none;
    width: 7ch;
    background-color: rgba(0, 0, 0, 0.411);
    color: #fff;
    border: solid black 1px;
    z-index: 1;
}

.main a:active {
    background-color: rgba(0, 0, 0, 0.644);
}


/* SECTION MORE */

.more {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 1500px;
    background: linear-gradient(#0b664b 30%, #75a9c7);
}

.more::before {
    content: "";
    height: 300px;
    width: 100%;
    background: linear-gradient( #fff 30%, #0b664b);
    z-index: 1000;
}


/* PANNEL */

.pannel {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 700px;
    width: 100%;
    padding: 0 200px 0;
    gap: 100px;
}

.pannel div {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pannel .left,
.pannel .right {
    align-self: center;
}

.pannel .mid {
    height: 700px;
}

.bg {
    display: flex;
    justify-content: center;
    background: url('img/water.jpg');
    pointer-events: none;
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #588094;
    height: 100px;
    margin: 10px;
    padding: 100px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .contact {
    margin-top: 50px;
}