@font-face {
    font-family: "Rowdies";
    src: url("fonts/Rowdies.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    font-family: "Rowdies";
}

header .logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.6em;
    text-decoration: none;
    color: #5CB8BD
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-right: 20px;
}

header ul li a {
    text-decoration: none;
    color: #5CB8BD;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5em;
}

header ul li a:hover,
header ul li a.active {
    background-color: #5CB8BD;
    color: #fff;
}


/* MAIN */

.main {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.main video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main img {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
}

.main p {
    position: absolute;
    font-size: 8em;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-family: "Rowdies";
    color: #fff;
}


/* SECTION MORE */

.more {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: #5CB8BD;
}

.more::before {
    content: "";
    height: 200px;
    width: 100%;
    margin-top: -20px;
    background: linear-gradient( #fff 30%, #5CB8BD);
    z-index: 1000;
}

.pannel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 700px;
    width: 100%;
    padding: 0 100px 0;
    gap: 50px;
}

.pannel div {
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.pannel .left,
.pannel .right {
    align-self: center;
}

.pannel .mid {
    height: 700px;
}

.bg {
    background: url('img/sand.jpeg');
}