* {
    margin: 0;
    padding: 0;
}

.refresh {
    display: block;
    color: #000000;
    margin: 20px auto;
    font-size: 2em;
    text-decoration: none;
    padding: 15px 60px;
    max-width: 200px;
    text-align: center;
    border: 1px solid #000000;
    cursor: pointer;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    height: 150px;
    flex-grow: 1;
    min-width: 20%;
    border: 2px solid #ffffff;
}