body {
    margin: 0;
    padding: 0;
    background-color: #e04951;
}

.heart {
    top: 40%;
    left: 40%;
    height: 100px;
    width: 180px;
    position: absolute;
    transform-origin: right bottom;
    background-color: #C8A2C8;
    transition: 1s;
}

.heart:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: right bottom;
    background-color: #fff;
    transition: 2s;
}

.heart:hover {
    transform: rotate(45deg);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px
}

.heart:hover:before {
    transform: rotate(450deg) translateY(100px);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #C8A2C8;
}