body {
  margin: 0;
  padding: 0;
  background: #65001f;
  font-family: "Oooh Baby", cursive;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.waifu {
  pointer-events: none;
  color: #65001f;
  font-size: 100px;
  text-align: center;
}

.heart {
  animation: pulse 1s infinite;
}

.shape {
  position: relative;
  width: 200px;
  height: 160px;
}

.shape:before,
.shape:after {
  position: absolute;
  content: "";
  left: 100px;
  top: 0;
  width: 100px;
  height: 160px;
  background: #f7799b;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

.shape:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  60% {
    background: #ffa1ad;
  }
}
