body {
  margin: 0;
  padding: 0;
  background: #869f9f;
  font-family: "Oooh Baby", cursive;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.waifu {
  pointer-events: none;
  color: #869f9f;
  font-size: 100px;
  text-align: center;
  margin-bottom: 150px;
  z-index: 5;
}

.heart {
  margin-top: 10%;
  animation: pulse 1s infinite;
}

.shape {
  position: relative;
  width: 200px;
  height: 160px;
}

.shape:before,
.shape:after {
  position: absolute;
  content: "";
  left: 100px;
  top: 0;
  width: 100px;
  height: 160px;
  background: #c9a8a0;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

.shape:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  60% {
    background: #e6d5c3;
  }
}

.give_love {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  background-color: #c6dfcd;
  color: #869f9f;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px;
  z-index: 10;
}

.give_love:active {
  background: #fff;
}
