* {
    margin: 0;
    padding: 0;
}

.scene {
    display: flex;
    background: linear-gradient(#141b3d 50%, #fd5f5f);
    height: 200vh;
    z-index: 10;
}

.heart {
    position: fixed;
    mix-blend-mode: difference;
    top: 52%;
    margin: 0 48.1% 0;
    z-index: 1;
    transform-origin: center;
    animation: pulse 1s infinite linear;
}

.shape {
    position: absolute;
    background-color: #233866;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
}

.shape::before {
    position: absolute;
    content: "";
    background-color: #233866;
    left: 100px;
    top: 0;
    width: 80px;
    height: 100px;
    border-radius: 0 100% 100% 0;
}

.shape::after {
    position: absolute;
    content: "";
    background-color: #233866;
    bottom: 100px;
    width: 100px;
    height: 80px;
    border-radius: 100% 100% 0 0;
}

@keyframes pulse {
    10% {
        transform: scale(1.1);
    }
}

.kiss {
    align-self: flex-end;
    height: 25%;
    margin: 0 auto 0;
    z-index: 9;
}