* {
    margin: 0;
    padding: 0;
}

.scene {
    display: flex;
    background: linear-gradient(#14213d 50%, #ff758f);
    height: 200vh;
    z-index: 10;
}

.heart {
    mix-blend-mode: hue;
    position: fixed;
    top: 50%;
    margin: 0 45.85% 0;
    z-index: 1;
}

.shape:before,
.shape:after {
    position: absolute;
    content: "";
    left: 100px;
    top: 0;
    width: 100px;
    height: 160px;
    box-shadow: inset 100px 100px rgba(221, 219, 219, 0.534);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.shape:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.kiss {
    align-self: flex-end;
    height: 25%;
    margin: 0 auto 0;
    z-index: 9;
}